/* Estilos generales para PC */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 10px;
  }
}

/* Estilos para los elementos del formulario */
input[type="text"],
input[type="email"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Cambios en los estilos para dispositivos móviles */
@media (max-width: 768px) {
  input[type="text"],
  input[type="email"],
  button {
    padding: 8px;
  }
}
/* Estilo de botón al pasar el cursor */
button:hover {
    background-color: #0056b3;
}
