/* Estilos generales para PC y dispositivos móviles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

input[type="text"],
input[type="email"],
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Cambios en los estilos para dispositivos móviles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  input[type="text"],
  input[type="email"],
  button {
    padding: 8px;
  }
}
